@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
.fondo {
  height: 100vh !important;
  background-color: cadetblue;
}
.cardInicial {
  height: 31rem;
  width: 41rem;
  box-shadow: -1px 7px 26px -6px rgb(0, 0, 0);
}

.cardRecogerDatos {
  height: 47rem;
  width: 61rem;
  box-shadow: -1px 7px 26px -6px black;
  display: flex;
  align-items: center;
}

.tituloInicial {
  font-family: 'Righteous', cursive;
  font-size: 3.5rem;
  text-shadow: 1px 1px 4px #3f403dd6;
}

.btn-volver {
  background-color: #c8ebec;
  &:hover {
    background-color: #a2cbcc;
  }
  &:active {
    background-color: #79a2a3;
  }
}
.btnIncial {
  background-color: #3b6a6b;
  height: 4rem;
  width: 11rem;
  color: white;
  &:hover {
    background-color: #2a5152;
  }
  &:active {
    background-color: #193031;
  }
}
.btnResolver {
  margin: 0rem 0rem 0rem 1rem;
  color: #193031;
  background-color: #d8eeee;
  height: 4rem;
  width: 11rem;
  &:hover {
    background-color: #8dcfd1;
  }
  &:active {
    background-color: #446b6d;
  }
}

div.divBalance {
  position: absolute;
  transform: translate(0rem, 57rem);
}

.bal {
  font-size: 1.5rem;
}

.navBar {
  width: 100%;
  height: 2.5rem;
  background-color: #f0fff8;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px 7px 26px -10px #00000087;
}

.mNavBar {
  margin: 0rem 0rem 0rem 1rem;
}

.tituloCaptura {
  font-family: 'Righteous', cursive;
  font-size: 3.5rem;
  color: white;
  text-shadow: 1px 1px 4px #2a2b2ad6;
}
// ===================================================
// botones
// ===================================================
.boton {
  height: 6.4rem;
  width: 6.5rem;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}
.active {
  background-color: #1c9680 !important;
  filter: opacity(30%);
}

.btn-1 {
  // background-color: blue;
  transform: translate(-11.7rem, 3.7rem);
}
.btn-2 {
  // background-color: blue;
  transform: translate(-11.7rem, 17.3rem);
}
.btn-3 {
  // background-color: blue;
  transform: translate(-11.7rem, 30.9rem);
}

.btn-A {
  // background-color: blue;
  transform: translate(11.8rem, 2.2rem);
}
.btn-B {
  // background-color: blue;
  transform: translate(11.8rem, 12.3rem);
}
.btn-C {
  // background-color: blue;
  transform: translate(11.8rem, 22.4rem);
}
.btn-D {
  // background-color: blue;
  transform: translate(11.8rem, 32.6rem);
}
// ===================================================
// campos texto
// ===================================================

input.inputQustom {
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
  padding-left: 0.5rem;
  font-size: 1.3rem;
  border-bottom: 2px solid #e7e7e7b2 !important;
  &:focus {
    border-bottom: 2px solid #1ea088 !important;
  }
}
input.inputQustomCosto {
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
  padding-left: 0.5rem;
  font-size: 1.3rem;
  border-bottom: 2px solid #1ea088 !important;
  &:focus {
    border-bottom: 2px solid #0a5a4b !important;
  }
}
input.inputSuma {
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
  padding-left: 0.5rem;
  font-size: 1.3rem;
  border-bottom: 2px solid #0a5a4b !important;
  padding: 0rem 0rem 0rem 1.9rem;
}
// ---------------------------------------
// OFERTA
// ---------------------------------------

.input-oferta-1 {
  transform: translate(-20.5rem, -34.5rem) !important;
  width: 9rem;
}
.input-oferta-2 {
  transform: translate(-20.5rem, -23.5rem) !important;
  width: 9rem;
}
.input-oferta-3 {
  transform: translate(-20.5rem, -12.2rem) !important;
  width: 9rem;
}
// ---------------------------------------
// SUMATORIAS
// ---------------------------------------
.rayaOferta {
  border: 1px solid black;
  transform: translate(-20.3rem, -18rem);
  width: 12.5rem;
}
.sumaOferta {
  transform: translate(-20.2rem, -18rem) !important;
  width: 12rem;
}

.ofer {
  transform: translate(-20rem, -20.5rem);
  position: absolute;
  font-size: 2rem;
}
.dema {
  transform: translate(21.3rem, -25rem);
  position: absolute;
  font-size: 2rem;
}

.rayaDemanda {
  border: 1px solid black;
  transform: translate(20.7rem, -22.5rem) !important;
  width: 12.5rem;
}
.sumaDemanda {
  transform: translate(21rem, -22.2rem) !important;
  width: 12rem;
}
// ---------------------------------------
// DEMANDA
// ---------------------------------------

.input-demanda-A {
  transform: translate(21rem, -43.2rem) !important;
  width: 9rem;
}
.input-demanda-B {
  transform: translate(21rem, -34.5rem) !important;
  width: 9rem;
}
.input-demanda-C {
  transform: translate(21rem, -26.5rem) !important;
  width: 9rem;
}
.input-demanda-D {
  transform: translate(21rem, -19rem) !important;
  width: 9rem;
}

// ---------------------------------------
// COSTOS DE TRANSPORTACION
// ---------------------------------------
.input-1A {
  transform: translate(4rem, -53.1rem) !important;
  width: 3rem;
}
.input-1B {
  transform: translate(4rem, -48.5rem) !important;
  width: 3rem;
}
.input-1C {
  transform: translate(4rem, -43.1rem) !important;
  width: 3rem;
}
.input-1D {
  transform: translate(4rem, -38.1rem) !important;
  width: 3rem;
}
// ------------------------------
.input-2A {
  transform: translate(4rem, -51.5rem) !important;
  width: 3rem;
}
.input-2B {
  transform: translate(4rem, -45.5rem) !important;
  width: 3rem;
}
.input-2C {
  transform: translate(4rem, -39.1rem) !important;
  width: 3rem;
}
.input-2D {
  transform: translate(4rem, -33.9rem) !important;
  width: 3rem;
}
// ------------------------------
.input-3A {
  transform: translate(4rem, -50.1rem) !important;
  width: 3rem;
}
.input-3B {
  transform: translate(4rem, -43.9rem) !important;
  width: 3rem;
}
.input-3C {
  transform: translate(4rem, -36.8rem) !important;
  width: 3rem;
}
.input-3D {
  transform: translate(4rem, -30.4rem) !important;
  width: 3rem;
}
